.main_chat
  .main_header
    .group_info
      .main_group-name
        = @group.name
      .menber_list
        - @group.users.each do |user|
          = user.name
    .edit_btn
      = link_to edit_group_path(@group), class: "edit_btn-icon" do
        edit
  .messages
    = render @messages
  .footer
    = form_for [@group, @message], class: 'new_message' do |f|
      .new_message-box
        = f.text_field :content, class: 'format', placeholder: "type a text"
        = f.label :image, class: 'icon_image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'image_file'
      = f.submit 'Send' , class: 'submit_btn'
